player-connection-mode=Listen
player-connection-guid=4020229097
player-connection-debug=0
player-connection-project-name=CHAT EX
player-connection-ip=192.168.72.1
player-connection-ip=192.168.8.1
player-connection-ip=10.45.197.89
player-connection-ip=192.168.137.1
wait-for-native-debugger=0
hdr-display-enabled=0
